@model FinalProject.Models.Entities.Character

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Race)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Race)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Strength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Strength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dexterity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dexterity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Charisma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Charisma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Constitution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Constitution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArmorClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArmorClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wisdom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wisdom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Intelligence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Intelligence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfItems)
        </dt>
        <dd class = "col-sm-10">
            @Model.Items.Count
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-warning"> Edit </a> |
    <a asp-action="Index" class="btn btn-sm btn-warning">Back to List</a>
</div>

@if (Model != null)
{
    <h4>Items</h4>
    <a asp-action="Create" asp-controller="Item" asp-route-id="@Model.Id" class="btn btn-sm btn-warning">
        Add Item
    </a>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Value
                </th>
                <th>
                    Description
                </th>
                <th>
                    Type
                </th>
                <th>
                    Weight
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Value
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.Type
                    </td>
                    <td>
                        @item.Weight
                    </td>
                    <td>
                        <a asp-action="Edit" asp-controller="Item"
                           asp-route-id="@Model.Id" asp-route-itemId="@item.Id" class="btn btn-sm btn-warning">Edit</a> |
                        <a asp-action="Delete" asp-controller="Item"
                           asp-route-id="@Model.Id" asp-route-itemId="@item.Id" class="btn btn-sm btn-warning">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (Model != null)
{
    <h4>Spells</h4>
    <a asp-action="Create" asp-controller="CharacterSpell" asp-route-id="@Model.Id" class="btn btn-sm btn-warning">
        Add Spell
    </a>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Level
                </th>
                <th>
                    Description
                </th>
                <th>
                    Type
                </th>
                <th>
                    Components
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var spell in Model.CharacterSpells)
            {
                <tr>
                    <td>
                        @spell.Spell.Id
                    </td>
                    <td>
                        @spell.Spell.Name
                    </td>
                    <td>
                        @spell.Spell.Level
                    </td>
                    <td>
                        @spell.Spell.Description
                    </td>
                    <td>
                        @spell.Spell.Type
                    </td>
                    <td>
                        @spell.Spell.Components
                    </td>
                    <td>
                        <a asp-action="Remove" asp-controller="CharacterSpell" asp-route-characterId="@Model.Id" asp-route-spellId="@spell.Id" class="btn btn-danger">Unassign</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
