@model IEnumerable<FinalProject.Models.ViewModels.UserListVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfRoles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleNames)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfRoles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleNames)
            </td>
        </tr>
}
    </tbody>
</table>
